<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
  <p>
      <label for="username">Username</label>
      <input type="text" name="username">
  </p>
    {% if error1 %}
      <p>{{error1}}! </p>
      {% endif %}

  <p>
      <label for="password">Password</label>
      <input type="password" name="password">
  </p>
    {% if error2 %}
      <p>{{error2}}! </p>
      {% endif %}
    {% if error3 %}
      <p>{{error3}}! </p>
      {% endif %}
  <p>
      <input type="submit">
  </p>
    {% if errorUser %}
      <p>{{errorUser}}! </p>
      {% endif %}
    </form>

</body>
</html>